* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url("cal.jpg");
    background-size: cover;
}

.container {
    text-align: center;
    margin-top: 23px;
    border: 6px solid green;
    border-width: 1vw;
    height: 525px;
    width: 375px;
    margin-left: 450px;
    background-color: black;
    
}

table {
    margin: auto;
}

input {
    border-radius: 21px;
    border: 5px solid #244624;
    font-size: 34px;
    height: 57px;
    width: 289px;
}

button {
    border-radius: 20px;
    font-size: 40px;
    background: skyblue;
    width: 64px;
    height: 67px;
    margin: 6px;
    color: white;
}

.calculator {
    border: 4px solid #13695d;
    background-color: #ff99f7;
    padding: 20px;
    border-radius: 53px;
    display: inline-block;
}

h1 {
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
    color: wheat;
}

